<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for遍历数组</title>
    <script src="js/vue-2.6.10.js"></script>
</head>
<body>

<div id="app">
    <ul>
        <li v-for="(value,index) in arr">
            {{value}}---{{index}}
        </li>
    </ul>

    <ul>
        <li v-for="(value,index) in list">
            {{value.username}}---{{value.password}}---{{index}}}
        </li>

    </ul>

</div>

</body>
</html>
<script>

    /*
      【需求1】：使用vue赋值list集合，
      分别存放数组和集合，并把数据遍历到页面上的<li>标签中。
    */
    new Vue({

        el:"#app",
        data:{

            arr:["abb","bbb","ccc"],

            list:[{username:"张三",password:"123"},{username:"李四",password:"456"},{username:"王二",password:"789"}]

        }


    });
</script>